.sidebar {
    padding-top: 15vw;
    border-radius: 30px;
    padding: 0%;
    margin-top: 80px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.sidebar ul {
    list-style: none;
    position: fixed;
    border-radius: 30px;
    border: 3px solid #f9f9fa;
    margin: 0;
    padding: 0;

}

.sidebar li {
    margin: 0;
    padding: 10px;
}



.sidebar img {
    position: relative;
    object-fit: contain;
    mix-blend-mode: color-burn;
    cursor: pointer;
    height: 3vw;
    font-size: 40px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.sidebar img:hover {
    transition: all 0.5s;


    transform: scale(0.8);
}

.sidebar img:hover::after {
    transition: all 0.5s;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 10px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.sidebar img::before {
    position: relative;
    border-radius: 20px;
    opacity: 30px;
    transition: 0.7s;
    transition: 0.1ms ease-in;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.1ms ease-in;
    -moz-transition: 0.1ms ease-in;
    -ms-transition: 0.1ms ease-in;
    -o-transition: 0.1ms ease-in;
}

.apple {
    margin-left: 1%;
    margin-top: 2%;
    position: relative;
    font-weight: bold !important;
}

.apple h1 {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent !important;
}

.apple h1 .bell {
    padding-left: 14vw;

}

.apple h1 .dell {
    padding-left: 5vw;

}

.apple h1 .blo {
    padding-left: 16vw;
    text-transform: uppercase !important;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent !important;
}

.footer {
    display: flex;
}

.banana {
    list-style: none;
    display: flex !important;
    color: white;
    position: absolute;
    transition: 1s box-shadow;
    top: 100%;
    left: 40%;
}
.banana h1{
    font: size 1vw;
    margin:0.7vw;
}

.banana img {
    width: 9%;
    margin-left: 9%;
    border: 2px solid white;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

button {
    margin-left: 27vw;
    margin-top: 2vw;
    border: 5px solid white;
    padding: 10px 15px 10px 15px;
    font-size: 1.50rem;
    color: azure;
    border-radius: 2.225rem;
    font-family: sans-serif;
    font-weight: bolder;
    -webkit-border-radius: 2.225rem;
    -moz-border-radius: 2.225rem;
    -ms-border-radius: 2.225rem;
    -o-border-radius: 2.225rem;
}

button:hover {
    background-color: rgb(82, 82, 244);
    transform: scale(1.2);
    transition: transform ease-in-out 1000ms;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition: transform ease-in-out 1000ms;
    -moz-transition: transform ease-in-out 1000ms;
    -ms-transition: transform ease-in-out 1000ms;
    -o-transition: transform ease-in-out 1000ms;
}